.body{
  margin:0;
  margin-bottom:0;
}
.top-bar{
  min-height:10vh;
  width:100%;
  background-color:rgb(15, 15, 79);
  background-position:center;
  background-size:cover;
  position:relative;
}

nav{
  display:flex;
  padding:2% 6%;
  justify-content:space-between;
  align-items:center;
}
nav img{
  width:100px;
}

.nav-links{
  flex:1;
  text-align:right;
}

.ul{
  display:inline-block;
}



.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding:8px 12px;
  position:relative;
  vertical-align:center;
  font-weight:500;
}

.nav-links ul li::after{
  content:'';
  width:0%;
  height:2px;
  background:#7c98fc;
  display:block;
  margin:auto;
  transition:0.5s;
}

.nav-links ul li:hover::after{
  width:100%;

}

.nav-links ul li a:hover::after{
  color:white;
}


.nav-links ul li a{
  color:white;
  text-decoration:none;
  font-size:14px;
  transition:0.5s;
}

h1{
  font-family:'EB Garamond';
  font-size:40px;
  display:block;
  text-align:center;
  margin:auto;
  margin-top:100px;

}

p{
  font-family:'EB Garamond';
  font-size:20px;
  text-align:center;
  margin:auto;
  margin-top:5px;
}
hr{
  border-top:1px solid rgb(189, 189, 189);
  width:100%;
  margin-bottom:50px;
  margin-top:50px;
}

.text-box{
  width:80%;
  margin:auto;
  height:70vh;
}

.row{
  margin-top:100px;
}

.committee-col{
  flex-basis:32%;
  max-width:32%;
  border-radius:10px;
  margin-bottom:30px;
  position:relative;
  overflow:hidden;
  display:inline-block;
  margin-left:10px;
}

.committee-col img{
  width:100%;
}

.topic-name{
  width:70%;
  color:rgb(217, 217, 217);
  font-family:'EB Garamond';
  font-weight:700;
}

.layer{
  background:rgba(15, 15, 79, 0.4);;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  transition:0.5s;
}

.layer h3{
  font-size:30px;
  text-align:center;
  color:white;
  vertical-align:bottom;
  font-family:'EB Garamond',serif;
  font-weight:800;

}

.layer:hover{
  background:rgba(15, 15, 79, 0.7);
}

.footer{
  width:100%;
  height:20px;
  background-color:rgb(15,15,79);
  margin:auto;
  text-align:center;
  padding-top:80px;
  padding-bottom:70px;
}

.mail-icon{
  justify-content:center;
  width:100%;
  
}

.mail-button{
  width:20px;
}