.body{
  margin:0;
  margin-bottom:0;
}

h1{
  font-family:'EB Garamond';
  font-size:40px;
  display:block;
  text-align:center;
  margin:auto;
  margin-top:100px;

}

p{
  font-family:'EB Garamond';
  font-size:20px;
  text-align:center;
  margin:auto;
  margin-top:5px;
}

hr{
  border-top:1px solid rgb(189, 189, 189);
  width:100%;
  margin-bottom:50px;
  margin-top:50px;
}

.top-bar{
  min-height:10vh;
  width:100%;
  background-color:rgb(15, 15, 79);
  background-position:center;
  background-size:cover;
  position:relative;
}

nav{
  display:flex;
  padding:2% 6%;
  justify-content:space-between;
  align-items:center;
}
nav img{
  width:100px;
}
.logo-lockup {
  display: flex;
  align-items: center; 
  gap: 15px;           
}

.logo-lockup img {
  width: 70px;         
  height: auto;        
  display: block;
}

.logo-lockup .unitar-logo {
  width: 200px;
}

.cross-symbol {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;     
  line-height: 1;
  opacity: 0.8;        
}
.nav-links{
  flex:1;
  text-align:right;
}

.ul{
  display:inline-block;
}



.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding:8px 12px;
  position:relative;
  vertical-align:center;
  font-weight:500;
}

.nav-links ul li::after{
  content:'';
  width:0%;
  height:2px;
  background:#7c98fc;
  display:block;
  margin:auto;
  transition:0.5s;
}

.nav-links ul li:hover::after{
  width:100%;

}

.nav-links ul li a:hover::after{
  color:white;
}


.nav-links ul li a{
  color:white;
  text-decoration:none;
  font-size:14px;
  transition:0.5s;
}

.reg-info{
  width:80%;
  margin:auto;

}

.reg-info p{
  width:80%;


}

.register-button{
  display:block;
  margin:auto;
  text-align:center;
  padding:70px;

}

.register-now{
  color:rgb(15,15,79);
  font-family:'Poppins',serif;
  padding:20px 34px;
  font-weight:400px;
  transition:0.3s;
  border-style:solid;
  margin-top:20px;
  cursor:pointer;
  position:relative;
  background:transparent;
}

.register-now:hover{
  background-color:rgb(15,15,79);
  color:white;
}

.reg-timeline{
  width:80%; 
  margin:auto;
  padding-bottom:50px;
  
}

.col-header{
  display:inline-block;
  vertical-align:top;
  width:150px;
}

.col-header p{
  text-align:left;
  font-weight:700;
  font-style:italic;
  padding-top:5px;

}
.col-info{
  display:inline-block;
  width:70%;
  
}
.col-info p{
  width:100%;
  text-align:left;
  line-height:40px;
  
}

.footer{
  width:100%;
  height:20px;
  background-color:rgb(15,15,79);
  margin:auto;
  text-align:center;
  padding-top:80px;
  padding-bottom:70px;
}

.mail-icon{
  justify-content:center;
  width:100%;
  
}

.mail-button{
  width:20px;
}

